<div class="col-3">

    <div class="row mt-4">
        <h4>Популярные теги </h4>
        <h5>
            <p>
                {% for us in best_tag %}
                <a href="{% url 'tag' tag_name=us.text %}" class="text-success">{{us.text}} </a>
                {% endfor %}
            </p>
        </h5>
    </div>

    <div class="row">
        <h4>Топ пользователей </h4> <br>
        <h5>
            <p>
                {% for us in best_user %}
                <a href="#">{{us.username}}<br /> </a>
                {% endfor %}
            </p>
        </h5>
    </div>
</div>