<div class="col-3">

    <div class="row mt-4">
        <h4>Популярные теги</h4>
        <h5>
            <p>
                <a href="{% url 'tag' tag_name='Python' %}" class="text-primary">Python </a>
                <a href="{% url 'tag' tag_name='JavaScript' %}" class="text-success">JavaScript </a>
                <a href="{% url 'tag' tag_name='Web' %}" class="text-danger">Web </a>
                <a href="{% url 'tag' tag_name='mail.ru' %}" class="text-warning">mail.ru </a>
                <a href="{% url 'tag' tag_name='google' %}" class="text-success">google </a>
                <a href="{% url 'tag' tag_name='TP' %}" class="text-warning">TP </a>
            </p>
        </h5>
    </div>

    <div class="row">
        <h4>Топ пользователей </h4> <br>
        <h5>
            <p>
                <a href="#">Bob </a>
                <a href="#">Alisa </a>
                <a href="#">Mary </a>
                <a href="#">Jack </a>
                <a href="#">Nik </a>
            </p>
        </h5>
    </div>
</div>